/* 
* @Author: hal
* @Date:   2015-05-22 13:19:09
* @Last Modified by:   Nathan Bailey
* @Last Modified time: 2015-05-30 16:41:46
*/


.bill-details ul {
  list-style: none;
  border-top: 1px solid #eee;
  padding-top:30px;
}

#content { 
margin-top:30px;
}

#brand { 
  text-align:center;
}

.item-description { 
  margin-right: 10px;
}

.loading-msg {
  text-align: center;
}
.centered { 
text-align:center;
}

