/* 
* @Author: hal
* @Date:   2015-05-22 13:19:09
* @Last Modified by:   nathanbailey
* @Last Modified time: 2015-06-13 17:34:25
*/

@font-face {
    font-family: 'Raleway'; 
    src: url('/../fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'Raleway-Med';
    src: url('/../fonts/Raleway-Medium.ttf');
}

@font-face { 
  font-family: 'League';
  src: url('/../fonts/LeagueSpartan-Bold.otf');

}
@font-face { 
  font-family: 'Roboto';
  src: url('/../fonts/Roboto-Regular.ttf');
}

html {
  height:100%;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor:'pointer' ;
  background-color:#5298FC;
  padding-bottom:50px;
  font-family: 'Roboto';
  color:#787F8C;
}

.bill-details ul {
  list-style: none;
  padding-bottom:0px;
  margin-bottom:0px;
}

ul {
  padding-left:0px;
  list-style: none;
}

.item-list, .totals-list {
  list-style:none;
}

.tip-input-wrapper {
  padding:20px;
}

.tip-input-wrapper p, .image-prompt {
  text-align:center;
  color:white;
  margin-top:30px;
}

.image-prompt {
  padding-top:20px;
}

.tip-input {
  margin-top:20px;
}

.tip-view .btn-default {
  color:#269CDA;
}
.totals-li, .item-li {
  height:65px;
  border-top: 0px;
}

.totals-li + .totals-li, .item-li + .item-li {
 border-top:1px solid #E4EEF5;
} 

.item-description {
  float: left;
  font-size: 14px;
  white-space: nowrap;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 0px;
  margin-top:2px
}

.item-cost  {
  padding-top: 17px;
  font-size: 18px;
  color: rgb(82, 152, 252);
  text-shadow: 1px 1px 1px rgba(151, 156, 171, 0.29);
  position: absolute;
  right: 20px;
}

.totals-li .item-cost {
  padding-top:10px;
}

.receipt-lists {
  margin-left:-15px;
  margin-right:-15px;
  margin-top: 60px;
}

.main-content {
padding-right:0px;
padding-left:0px;
}

.submitReceipt {
  height:auto;
}

.brand {
  background: rgba(61, 134, 234, 1);
  padding:20px;
  margin-left:-25px;
  margin-right:-25px;
  margin-bottom:20px;
}

.brand, .party-header  {
  text-align:center;
}

.party-header {
  padding: 10px;
  position: fixed;
  background-color: rgb(82, 152, 252);
  width: 100%;
  left: 0px;
  right: 0px;
  z-index: 100;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.075);
  box-shadow:0 1px 1px rgba(0,0,0,.075);

}

.brand h2{ 
  margin:0px 0px 0px 10px;
  color:#FFF;
  font-family: 'Raleway';
  display:inline-block;
  font-size:40px; 
}

.url-instructions {
  font-size:12px;
  padding:10px;
}

.url-instructions, .party-url { 
  margin:0px;
  padding:5px;
  color:#FFF;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select 
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {  
  color: #4D4D4D;
  font-family: 'Raleway';
}

.name-input-wrapper{
  text-align:center;
/*  padding:0px 25px;*/
}

.name-input-wrapper h1 {
  color:#FFF;
  margin-bottom:30px;
  text-shadow: 2px 1px 0px rgba(62,135,238,.5);
  font-family: 'League';
}

.name-input-wrapper img {
  margin-right:5px;
}

.name-input-wrapper p {
  margin-top:20px;
  color:#FFF;
  font-size:20px;
}

.name-input{
  text-align:center;
}

.form-group {
  margin-bottom:0px;
}

.loading-msg {
  text-align: center;
  margin-top:60px;
  color:#FFF;
}
.centered { 
  text-align:center;
}

.claim-button i, .claim-button .button-char {
  font-size: 35px;
  float: none;
  display: block;
  text-shadow: 1px 1px 1px rgba(151, 156, 171, 0.29);
  color: rgb(82, 152, 252);
}

.claim-button .button-char {
  font-size: 61px;
  font-family: 'Raleway';
}

.claim-button .minus-char {
  margin-top: -32px;
}
.claim-button .plus-char {
  margin-top: -27px;
}

.claim-button .split {
  font-size: 30px;
  margin-top: -1px;
}

.claim-button {
  font-size:14px;
  color:#FFF;
  text-align: center;
  width: 70px;
  height:100%;
  padding-top:15px;
}

.diner-totals p, .receipt-totals p, .party-url {
  text-align: center;
  color:white;
  font-size:18px;
  margin:0px;
  padding-top:10px;
}

.receipt-totals p { 
  padding:20px;
}

.diner-totals .tax-tip-message {
  padding:0px;
  margin:0px;
  font-size:12px;
  padding-bottom:13px;
}

.user-summary, .totals-list, .item-list {
  background: rgb(255, 254, 254);
  border:1px solid #E4EEF5;
}

.user-summary li:last-child, .totals-list li:last-child{
  border-bottom:none!important;
}

.receipt-totals .totals-li, .user-summary .totals-li {
  padding:10px;
  padding-left:0px;
  font-size:16px;
}

.all-Claimed {
  z-index:100;
  padding:20px;
}

.all-Claimed.show {
  text-align: center;
  color: rgb(73, 92, 76);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(171, 245, 171);
}

.all-Claimed.hide {
  bottom:-100px;
}

.claimed-name  {
  position: absolute;
  left: 65px;
  margin-top: 40px;
  padding-left: 5px;
  
}
.claimed .item-description {
  font-weight: bold;
}

.cost-desc {
  float: left;
  padding-left: 25px;
  line-height: 40px;
  margin-top: 2px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #EEE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #EEE;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #EEE;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #EEE;
}

.image-input-wrapper {
  width:100%;
}

.name-form, .custom-file-input::before, .tip-input-wrapper {
  max-width: 420px;
  margin: 0px auto;
  text-align: center;
}

.btn-primary {
  background: transparent;
  border-color: white;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3D86EA;
  border-color: rgba(32, 77, 116, 0.17);
  }

.submit-btn {
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 6px;
  height:46px;
  background: transparent;
  border-color: white;
}

.custom-file-input::-webkit-file-upload-button, .custom-file-input2::-webkit-file-upload-button  {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload your bill';
}

.custom-file-input2::before {
  content: 'Use our test receipt!';
}

.custom-file-input::before, .custom-file-input2::before {
  display: inline-block;
  background: #5298FC;
  border: 1px solid #FFF;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  width:100%;
  color:white;
  text-align:center;
  height: 46px;
  line-height: 31px;
}
.custom-file-input:hover::before {
  border-color: #FFF;
}
.custom-file-input:active::before {
  background: #5298FC;
}

input[type=file] {
  display: block;
  margin: 0px auto;
  max-width: 420px;
}

input[type=file]:focus {
  outline:none;
}

<<<<<<< HEAD

/*Styling for marketing page below landing page*/
body {
  overflow-x: hidden;
}

.landingPage {
    position: relative;
    display: table;
    width: 100%;
    height: 93vh;
    margin-bottom: 5rem;
    text-align: center;
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.darken h1, .darken p {
  color: #333333;
  /*text-shadow: 2px 1px 0px #333333;*/
}

.marketing {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FFF;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: -70px;
}

.marketingWords {
  padding-bottom: 40px;
}

.marketingPhones {
  padding-bottom: 20px;
}

.extendfull {
  margin-left: -30px;
  margin-right: -30px;
}

.copyright {
  margin-top: 30px;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .name-form {
      display: inline;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .name-form {
      display: inline;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .name-form {
      display: inline;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .name-form {
      display: inline;
    }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .name-form {
      display: inline;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .name-form {
      display: inline;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .name-form {
      display: inline;
    }
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .name-form {
      display: inline;
    }
}