/* 
* @Author: hal
* @Date:   2015-05-22 13:19:09
* @Last Modified by:   Nathan Bailey
* @Last Modified time: 2015-06-10 16:00:34
*/




@font-face {
    font-family: 'Raleway'; /*a name to be used later*/
    src: url('/../fonts/Raleway-Thin.ttf'); /*URL to font*/
}

@font-face { 
  font-family: 'League';
  src: url('/../fonts/LeagueSpartan-Bold.otf');

}

html {
  height:100%;
}



body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor:'pointer' ;
  background-color:#4091FF;
  padding-bottom:50px;
/*  background-color:#7AB0FA;*/


/*  background-size:contain;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image: linear-gradient(-180deg,#5298fc 66%,#2392ff 100%);*/
}

/*html, body, #content, #content .container-fluid {
  height:100%;
  overflow:scroll;
}
*/
.bill-details ul {
  list-style: none;
  padding-bottom:0px;
  margin-bottom:0px;
}

ul {
  padding-left:0px;
  list-style: none;
}

.receipt-list {
  padding-left:10px;
  padding-right:10px;
}


.item-list, .totals-list {
  list-style:none;
}


.tip-view {
  padding:30px;
}

.tip-view p {
  text-align:center;
  color: #FFF;
  margin-top:30px;
}

.tip-view .btn-default {
  color:#269CDA;
}
.totals-li, .item-li {
   height:65px;
    border-top: 0px;
}

.totals-li + .totals-li, .item-li + .item-li {
 border-top:1px solid #E4EEF5;
} 

.item-description {
  float: left;
  line-height: 60px;
  margin-left: 10px;


      color: #707070;
  font-size: 16px;
  overflow: hidden;
   
 

}



.item-cost  {
  float:right;
  padding-right: 15px;
  padding-top: 10px;
  font-size:18px;
    color: rgb(64, 145, 255);
    font-weight:bold;

}




.receipt-lists {
  margin-left:-15px;
  margin-right:-15px;
}

.main-content {
/*  margin-top:20px;*/
}

.submitReceipt {
  height:auto;
  padding: 0 15px;

}

.brand {
  background-color:rgba(48,48,56,0.1);
    padding:20px;
}

.brand, .party-header  {
  margin-left:-15px;
  margin-right:-15px;
  text-align:center;
}

.party-header {
padding:10px;
}

.brand h2{ 
  margin:0px 0px 0px 10px;
  color:#FFF;
  font-family: 'Raleway';
  display:inline-block;
  font-size:40px;
 
}

.url-instructions {
 font-size:12px;
/*  background-color:rgba(128, 128, 186, 0.1);*/
/*background: #FFF;*/
  padding:10px;

}

.url-instructions, .party-url { 
  margin:0px;
  padding:5px;
    color:#FFF;

}



input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select 
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {  


  color: #999999;
  /*font-size: 12px;*/
/*  text-transform: uppercase;*/
  /*letter-spacing: .2em;*/
 /* font-weight: 500;*/
  font-family: 'Raleway';

}



.image-wrapper {
  text-align:center;
  margin-top:20px;
}

.image-wrapper h1 {
  color:#FFF;
  margin-bottom:30px;
  text-shadow: 2px 1px 0px rgba(62,135,238,.5);
  font-family: 'League';
}

.image-wrapper img {


}

.image-wrapper p {
  margin-top:20px;
  color:#FFF;
  font-size:20px;
}

.name-input{
  text-align:center;

}

.form-group {
  margin-bottom:0px;
}

.name-form {
  text-align:center;
}

.loading-msg {
  text-align: center;
}
.centered { 
text-align:center;
}


.claim-button i {
  font-size:16px;
  float:none;
  display:block;
/*  text-shadow: 0px 2px 3px #3D86EA;*/


}



.claim-button {
  font-size:14px;
  color:#4091FF;
/*  color:#4A4A4A;*/
/*  background: #DEE1FF;*/


  /*background: #3D86EA;*/
/*  background:#4091FF;*/

/* background-color:rgba(48,48,56,0.5);*/
 /*   text-shadow: 0px 2px 3px #3D86EA;*/
  text-align: center;
  width: 70px;
  height:100%;
  padding-top:15px;

/*  border-right:1px solid rgba(27, 150, 239, 0.24);*/
/*border-right:1px solid rgba(239, 248, 255, 0.24);
*/  /*border-bottom:1px solid rgba(27, 150, 239, 0.24);*/


}


/*.claimed-by {
  padding-right:20px;
    border:none;

}*/

.diner-totals p, .receipt-totals p, .party-url {
/*  background:rgb(64, 145, 255);*/
  text-align: center;
  color:white;
  font-size:22px;
  margin:0px;
  padding-top:10px;
/*  text-shadow: 1px 1px 1px #000;
*/   text-shadow: 2px 1px 0px rgba(62,135,238,.5);
}


/*.party-url {
   font-size:18px;
       font-family: 'League';
 /*   background:#1F4E8F;
   color:#FFF

}*/


.receipt-totals p { 
  padding:20px;
}

.item-list, .totals-list, .user-summary, .brand{
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:  0px 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

.diner-totals {
/*  background-color:#4091FF;*/
}


.diner-totals .tax-tip-message {
  padding:0px;
  margin:0px;
  font-size:12px;
  padding-bottom:13px;
}

.user-summary, .totals-list, .item-list {
  background: white;
  border-radius:5px;
}

.user-summary li:last-child, .totals-list li:last-child{
  border-bottom:none!important;
}

.receipt-totals .totals-li, .user-summary .totals-li {
  padding:10px;
  padding-left:0px;
  color:#4091FF;
  font-size:16px;
}

.claimed-name  {
color: #708FBA;
  position: absolute;
  right: 5px;
  margin-top: 40px;
  text-transform:uppercase;
  padding-left: 5px;
  padding-right: 5px;
}

.cost-desc {
  float:left;
  padding-left:20px;
  line-height: 40px;

}

/*.checked {
  color: green;
  font-size: 20px;
  right:0px;
  position:absolute;
  display: table-cell;
}
*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #EEE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #EEE;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #EEE;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #EEE;
}

.name-form {
  /*display: none;*/
}

.name-form input[type="submit"] {
  display: none;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .name-form {
      display: inline;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .name-form {
      display: inline;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .name-form {
      display: inline;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .name-form {
      display: inline;
    }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .name-form {
      display: inline;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .name-form {
      display: inline;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .name-form {
      display: inline;
    }
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .name-form {
      display: inline;
    }
}